.hero {
  position: relative;
  height: 700px;
  background-color: #121417;
  background-image: url("/Picture.webp");
  background-image: image-set(
    url("/Picture.webp") 1x,
    url("/Picture@2x.webp") 2x,
    url("/Picture@3x.webp") 3x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

.inner {
  position: relative;
  z-index: 1;
  height: 100%;
  display: grid;
  align-content: end;
  justify-items: center;
  padding-bottom: 60px;
  gap: 40px;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}

.content p {
  margin-top: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.cta:hover {
  background: #0b44cd;
}

.cta {
  width: 276px;
  height: 44px;
  display: grid;
  place-items: center;
  border-radius: 12px;
  background: #3470ff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
