:root {
  --main: #101828;
  --gray: #8d929a;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --badges: #f2f4f7;
  --gray-light: #dadde1;
  --inputs: #f7f7f7;
  --white: #ffffff;
  --text: #475467;

  --bg: var(--white);
  --surface: var(--white);
  --primary: var(--button);
  --primary-hover: var(--button-hover);
  --border: var(--gray-light);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--main);
  font-family: "Manrope", "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-inline: 120px;
  margin: 0 auto;
}

@media (max-width: 1439px) {
  .container {
    padding-inline: 64px;
  }
}

@media (max-width: 788px) {
  .container {
    padding-inline: 32px;
  }
}

@media (max-width: 420px) {
  .container {
    padding-inline: 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font: inherit;
}

input,
select,
textarea {
  color: var(--main);
}
